*{
    margin: 0;
    padding: 0;
}

body{
    background-color:silver;
}
div.main{
    width: 600px;
    height: 150px;
    margin: 100px auto 0px auto;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
div.register{
    background-color: seashell;
    width: 100%;
    height: 550%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px;
    color: black;

}
form#register{
    margin: 40px;
    padding-left: 20%;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-style: italic;
}
input#name{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 10px;
    background-color:white;
    box-shadow: inset 1px 1px 5px;
}

input#submit{
    
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    
    border-radius: 4px;
    background-color: rgba(255,100,0,0.8);
    color: white;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0,0, 0,0.3);
    margin-bottom: 10x;
}

label,span,h2{
    text-shadow: 1px 1px 5px rgba(0,0 ,0, 0.3);
}